form{
	text-align: left;
}

h2{
	text-decoration:blink;
}

h1{
	text-align: center;
	font-size: 40px;
}

body{
	background-color: lightgray;
}
ul{
		list-style-type:none;
		margin:0;
		padding:0;
		overflow:hidden;
		background:#333;
	}

li{
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li:hover{
color:white;
background-color: #000000;
}
